.kapsayici{

    height: 100vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-image: url(../../../assets/media/logos/pirireis2.jpg);
    background-color: white;
    background-repeat: no-repeat;
    background-size: initial;
    background-position: bottom;
    margin: 0px !important;
    padding: 0px !important;
    object-fit: contain !important; 

}

.select{
    height: 20vh;
    width: 30vw; 
}
.adaimage{
    object-fit: contain;
}
