*{
  margin: 0px !important;
  padding: 0px !important;
  box-sizing: border-box;
}
.grid-container{
  height: 100vh;  
  border:10px solid darkblue;
  display: grid;
  grid-template-areas:
    "header header header"
    "nav main ads"
    "footer footer footer"
}
.grid-item{
  background-color: bisque;
  border: 4px solid orange;
  padding: 20px;
  
}
.item-1{
  grid-area: header;
}
.item-2{
 grid-area : nav;
}
.item-3{
  grid-area : main;  
}

.item-4{
  grid-area : ads;
}
.item-5{
  grid-area : footer;
}