
  <ng-container *ngIf="this.helper.selectedGridCount == 1">
    <app-turnike1></app-turnike1>
    </ng-container>
    <ng-container *ngIf="this.helper.selectedGridCount == 2">
      <app-turnike2></app-turnike2>
      </ng-container>
      <ng-container *ngIf="this.helper.selectedGridCount == 3">
        <app-turnike3></app-turnike3>
        </ng-container>
        <ng-container *ngIf="this.helper.selectedGridCount == 4">
          <app-turnike4></app-turnike4>
          </ng-container>
          <ng-container *ngIf="this.helper.selectedGridCount == 5">
            <app-turnike5></app-turnike5>
            </ng-container>
            <ng-container *ngIf="this.helper.selectedGridCount == 6">
              <app-turnike6></app-turnike6>
              </ng-container>
         


