
<div class="kapsayici">
    <ng-container>
        <div class="grid-container">
            <div class="grid-item item-1">1</div>
            <div class="grid-item item-2">2</div>
            <div class="grid-item item-3">3</div>
            <div class="grid-item item-4">4</div>
            <div class="grid-item item-5">5</div>
            <div class="grid-item item-6">6</div>
        </div>
    </ng-container>

 
     <button (click)="goToturnike()" type="button" class="btn btn-outline-dark btn-lg btn-block"
      style="width: 30vw;font-size: large;font-weight: bold;">TURNİKE EKRANI</button>

  </div>
  

